
<div class="container">
<div align="center" *ngIf="paymentDetails">
    <h1>Please Review Before Paying</h1>
    <table >
		<tr>
			<td colspan="2"><b>Transaction Details:</b></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td>{{paymentDetails.description}}</td>
		</tr>
		<tr>
			<td>Subtotal:</td>
			<td>{{paymentDetails.subtotal}} USD</td>
		</tr>
			<tr>
			<td>Tax:</td>
			<td>{{paymentDetails.tax}} USD</td>
		</tr>
		<tr>
			<td>Total:</td>
			<td>{{paymentDetails.total}} USD</td>
		</tr>	
		<tr><td><br/></td></tr>
		<tr>
			<td colspan="2"><b>Payer Information:</b></td>
		</tr>
		<tr>
			<td>First Name:</td>
			<td>{{paymentDetails.firstName}}</td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td>{{paymentDetails.lastName}}</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>{{paymentDetails.email}}</td>
		</tr>
		<tr><td><br/></td></tr>
		
		<tr>
			<td colspan="2" align="center">
				
			</td>
		</tr>		
	</table>
    <div id="smart-button-container">
        <div style="text-align: center;">
          <div>
			    <button type="button" [disabled]="clicked"  (click)="executePayment(paymentDetails.paymentId,token,paymentDetails.payerId); clicked = true;">Pay</button>
          </div>
        </div>
      </div>
</div>


</div>



