<div class="about-section">
    <h1>About Us Page</h1>
       <p>NMS Cinemas is a chain of single screen theatres that screen movie shows of different
         genres and languages at very genuine prices.
         It was established in 2004 in Pune, India. .</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./assets/images/team1.jpg" alt="Victor" style="width:100%">
        <div class="container">
          <h2>Victor Hongo</h2>
          <p class="title">CEO & Founder</p>
          <p>Passionate Leader whose joy is to improve the communities quality of life.</p>
          <p>hongovictor@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <!--<div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Lwanda Mager</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>-->
  </div>
  