<div class="container">
    <div class="text-left">
      <button type="button" class="btn btn-link" ><a [routerLink]="['/admin']">Back to Admin</a></button>
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-link" ><a [routerLink]="['/addgenre']">Add Genre</a></button>
    </div>


<div class="container">
       <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Genre</th>
            <th>Description</th>
            <th> Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of genreList">
            <td>{{list.id}}</td>
            <td>{{list.name}}</td>
            <td>{{list.description}}</td>                      
            <td>
                       
              <button type="button" class="btn btn-link" ><a [routerLink]="['/editgenre', list.id]">Edit</a></button>
  
              <button type="button" class="btn btn-link" (click)="deleteGenre(list.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
     
  <router-outlet></router-outlet>
